.nameTitle {
    color: steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
}
.jobTitle {
    color: steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
}
.techTitle {
    color: gray;
    font-weight: bold;
}
.positionSection {
    border: solid darkgray;
    border-width:  0 0 1px 0;
    padding: 15px;
}