<h1></h1>
<div class="panel panel-default">
       <div class="panel-heading">
              <div class="row">
                     <div class="col-md-6">
                            <div class="nameTitle">Angie Fuller</div>
                            <div class="jobTitle">Senior Software Engineer</div>
                     </div>
                     <div class="col-md-6" style="padding-top:10px;">
                            <div>407.492.6007</div>
                            <div>angela.fuller08@gmail.com </div>
                            <div><a href="https://www.linkedin.com/in/angie-fuller"
                                          target="_blank">https://www.linkedin.com/in/angie-fuller</a></div>

                     </div>
              </div>
       </div>
       <div class="panel-body">
              <div class="form-row">
                     <h4>OBJECTIVE</h4>
                     <div class="form-group col-md-12">
                            To secure a challenging position that will utilize my proven comprehensive
                            technical expertise to deliver superior software solutions that exceed
                            customer expectations and create a positive business impact.
                     </div>
              </div>
              <div class="form-row">
                     <h4>EXPERTISE</h4>
                     <div class="form-row">
                            <div class="form-group col-md-3">Languages</div>
                            <div class="form-group col-md-9">
                                   C#, Angular, VB.Net, T-SQL, PL/SQL, ASP, HTML, CSS, XML,JavaScript, LINQ
                            </div>
                     </div>
              </div>
              <div class="form-row">
                     <div class="form-group col-md-3">Tools &amp; Utilities</div>
                     <div class="col-md-9"> Visual Studio, VSTS, GIT, Entity Framework, Web
                            API Rest Services, Gherkin, IIS, Oracle, SQL Server Management Studio,
                            Infragistics, Crystal Reports, Crystal Enterprise, Cognos
                     </div>
              </div>

              <div class="form-row">
                     <h4>EXPERIENCE</h4>
                     <div class="col-12">
                            <div class="row positionSection">
                                   <div class="col-md-12">
                                          <div class="form-row">
                                                 <div class="form-group col-md-6"><strong>AUTOSOFT, INC.</strong></div>
                                                 <div class="form-group col-md-6">
                                                        <div class="pull-right">January 2019 – Present</div>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Senior Software Engineer </strong>
                                                        <em>(remote)</em></div>
                                                 <ul type="disc">
                                                        <li>
                                                               Contribute to the design and development of the new
                                                               Dealership
                                                               Management System by creating high quality, efficient
                                                               code solutions.
                                                        </li>
                                                        <li>
                                                               Develop and maintain Rest web services to support our
                                                               Angular front-end
                                                               application.
                                                        </li>
                                                        <li>
                                                               Create Unit Tests to increase code coverage and
                                                               facilitate automated
                                                               regression testing.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used: </em></span>
                                                        <span>
                                                               <em>C#, Angular 4, Angular JS, T-SQL, NHibernate, LINQ,
                                                                      Visual
                                                                      Studio,
                                                                      GIT.</em>
                                                        </span>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="row positionSection">
                                   <div class="col-md-12">
                                          <div class="form-row">
                                                 <div class="form-group col-md-6">
                                                        <strong>CENTRALSQUARE TECHNOLOGIES</strong>
                                                 </div>
                                                 <div class="form-group col-md-6">
                                                        <div class="pull-right">June 2013 – January 2019</div>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Senior Software Engineer, Team Lead</strong>
                                                        <em>(remote)</em>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Mentored a team of twelve developers by providing technical
                                                               assistance
                                                               and training as well as focusing on individual growth.
                                                        </li>
                                                        <li>Created an engaging and innovative team culture that
                                                               promoted
                                                               collaboration and excellence.
                                                        </li>
                                                        <li>Provided SQL classes to the organization on behalf of the
                                                               Training and
                                                               Development department.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Senior Software Engineer</strong>
                                                        <em>(remote)</em>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Contributed to a 73% reduction of bugs and support requests
                                                               since January
                                                               2018 in
                                                               our TRAKiT product.
                                                        </li>
                                                        <li>Developed a Utility Billing application using C#, T-SQL,
                                                               XAML, WPF, Entity
                                                               Framework and Web API in an Agile environment.
                                                        </li>
                                                        <li>Created logical and physical database models for the Utility
                                                               Billing
                                                               application
                                                               in compliance with enterprise standards.
                                                        </li>
                                                        <li>Resident SQL expert - responsible for reviewing and
                                                               approving all
                                                               additions and
                                                               modifications to the database model as well as all SQL
                                                               code.
                                                        </li>
                                                        <li>Ensured code coverage through Unit Tests using Gherkin and
                                                               MS Test.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used: </em></span>
                                                        <span><em>C#, VB.Net, T-SQL, Entity Framework, LINQ, Visual
                                                                      Studio, VSTS,
                                                                      GIT.</em></span>
                                                 </div>
                                          </div>

                                   </div>
                            </div>
                            <div class="row positionSection">
                                   <div class="col-md-12">
                                          <div class="form-row">
                                                 <div class="form-group col-md-6">
                                                        <strong>RADIXX INTERNATIONAL</strong>
                                                 </div>
                                                 <div class="form-group col-md-6">
                                                        <div class="pull-right">March 2011 – June 2013</div>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Senior Software Engineer</strong>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Increased efficiency and speed of Manage Booking system by
                                                               employing a
                                                               LINQ based solution, resulting in reducing processing
                                                               times by up to
                                                               75%.
                                                        </li>
                                                        <li>Supported Production releases, including deployment to
                                                               production
                                                               servers, thorough testing, and issue resolution as
                                                               needed.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>VB, C#, .NET, Visual Studio, Oracle, HTML, JavaScript,
                                                                      AJAX, LINQ,
                                                                      CSS,VSS, TFS.</em></span>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="row positionSection">
                                   <div class="col-md-12">
                                          <div class="form-row">
                                                 <div class="form-group col-md-6">
                                                        <strong>UNIVERSAL AMERICAN</strong>
                                                 </div>
                                                 <div class="form-group col-md-6">
                                                        <div class="pull-right">June 2008 – March 2011</div>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Senior Software Engineer</strong>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Successfully organized, managed, and deployed the Annual
                                                               Enrollment
                                                               Project consisting of six highly visible applications,
                                                               developed by 9
                                                               Software Engineers over a course of 5 months and 12,000
                                                               hours of
                                                               development.
                                                        </li>
                                                        <li>Instituted Code Reviews to ensure project objectives were
                                                               met and coding
                                                               standards were implemented.
                                                        </li>
                                                        <li>Resident expert on all supported applications, enabling the
                                                               ability to
                                                               effectively provide direction on all requests for
                                                               maintenance and
                                                               enhancements to those systems.
                                                        </li>
                                                        <li>Consolidated three enrollment processes into one, thereby
                                                               reducing
                                                               resources required for maintenance and enhancements and
                                                               allowing for
                                                               faster
                                                               project completion timelines.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>VB.NET, Visual Studio, MS Enterprise Library, T-SQL,
                                                                      HTML,
                                                                      JavaScript,
                                                                      CSS, Infragistics.</em></span>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Software Engineer</strong>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Consistently and efficiently delivered quality solutions
                                                               using VB.NET,
                                                               C#, T-SQL, HTML, CSS, and JavaScript while ensuring
                                                               compliance with SOX
                                                               and HIPPA regulations.
                                                        </li>
                                                        <li>
                                                               Acted as technical lead for 7 off-shore developers.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>VB.NET, C#, MS Enterprise Library, T-SQL, HTML,
                                                                      JavaScript,
                                                                      CSS,Infragistics, Crystal Reports.</em></span>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="row positionSection">
                                   <div class="col-md-12">
                                          <div class="form-row">
                                                 <div class="form-group col-md-6">
                                                        <strong>ASSURANT</strong>
                                                 </div>
                                                 <div class="form-group col-md-6">
                                                        <div class="pull-right">April 2005 – June 2008</div>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>
                                                               Staff Software Engineer</strong>, <em>Financial
                                                               Information
                                                               Systems</em>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Maintained and enhanced Financial Reporting applications
                                                               using VB.NET,
                                                               PL/SQL, and Crystal Reports.
                                                        </li>
                                                        <li>Redesigned legacy Financial Reporting applications using new
                                                               corporate
                                                               development standards, including requirements, database
                                                               design,
                                                               object/component design, and user interface design.
                                                        </li>
                                                        <li>Contributed significant enhancements, as well as general
                                                               maintenance and
                                                               customer support for the General Ledger application using
                                                               VB.NET,
                                                               Farpoint Spread, XML, and PL/SQL.
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>VB.NET, XML, Oracle 10G, ASP, HTML, JavaScript, CSS,
                                                                      Farpoint
                                                                      Spread, Crystal Reports, BO.</em></span>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Staff Programmer Analyst</strong>, <em>Data Warehouse
                                                        </em>
                                                 </div>
                                                 <ul type="disc">
                                                        <li>Created Cognos Cubes and delivered them to the users through
                                                               Cognos 8 BI.
                                                        </li>
                                                        <li>Gathered business requirements to design effective, quality
                                                               solutions.
                                                        </li>
                                                 </ul>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>Cognos 8 BI, Oracle 10G, Crystal Reports, Business
                                                                      Objects.</em></span>
                                                 </div>
                                          </div>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <strong>Resident</strong>
                                                 </div>
                                          </div>
                                          <ul type="disc">
                                                 <li>Designed and developed a process that allowed administrators to
                                                        control
                                                        maintenance of the available sites within Assurant’s General
                                                        Ledger
                                                        application using VB.NET, XML, and PL/SQL.
                                                 </li>
                                          </ul>
                                          <div class="form-row">
                                                 <div class="form-group col-md-12">
                                                        <span class="techTitle"><em>Technologies Used:</em></span>
                                                        <span><em>VB.NET, Visual Studio, XML, Oracle, HTML, JavaScript,
                                                                      CSS, Farpoint
                                                                      Spread.</em></span>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
              <div class="form-row">
                     <h4>EDUCATION</h4>
              </div>
              <div class="form-row">
                     <div class="form-group col-md-12">
                            <strong>Florida International University</strong>, Miami, FL <em>Dec. 2004</em>
                     </div>
                     <ul>
                            <li>
                                   Bachelors of Business Administration, <em>cum laude</em>, Management
                                   Information Systems
                            </li>
                     </ul>
              </div>
       </div>
</div>